/*=================== COMMONS ===============*/
@font-face { 
    font-family: 'DejaVuSans';
    src: url('file:///android_asset/fonts/DejaVuSans.ttf');
}

* {
	margin: 0;
	padding: 0;	
}

ul {
	margin-left: 1em;
}

body {
	font-family: 'DejaVuSans';
}


/*=================== BLOCKS ===============*/
.dictionaryBlock {
	padding: 0.3em;
	margin: 0.3em 0.2em 0.3em 0.2em;
	border: 0.2em solid #59922B;
	border-radius: 0.8em;
	font-size: 1em;
	word-wrap: break-word;
	background-color: #fff; /* white */
}

.welcomeBlock {
	padding: 0.5em;
	font-size: 1em;
	word-wrap: break-word;
	color: green;
}

/*=================== OTHERS ===============*/
.searchedWord {
	padding: 0.3em 0.6em 0.9em 0.6em;
	background: url(file:///android_asset/images/wordbg.png) bottom left repeat-x;	
	border-radius: 0.7em;
	color: #fff; /* white */
	background-color: #59922B;		
}

.dictionaryContent {
	padding: 0.4em;
	line-height: 1.4;
}

.dictionaryContentFailure {
	padding: 0.4em 0.4em 0.3em 0.4em;
	line-height: 1.4;
	color: red;
}

.dictionaryName {
	padding-top: 0.3em;
	font-size: 0.9em;
	border-top: 0.2em solid #59922B;	
	text-align: right;
	font-weight: bold;
	color: #8b8682; /* seashell4 */
}


/*=================== DICTIONARY ELEMENTS ===============*/
.entry {
	color: #006400; /* dark green */
}

.wordKind {
	color: #00f; /* blue */
}

.meaning {
	color: #000; /* black */
}

.exampleBegin {
	color: #f00; /* red */
}

.exampleSeparator {
	color: #696969 /* dim gray */
}

.idiom {
	color: #b22222 /* firebrick */
}
