@font-face { 
    font-family: 'DejaVuSans'; 
    src: url('file:///android_asset/fonts/DejaVuSans.ttf');
}

body {
	font-family: 'DejaVuSans';
}

p {
	margin: 0;
	padding: 0;
}

.dictionaryBlock {
	padding: 0.5em;
	
	/* Border */
	border-style: solid;
	border-width: 0.1em;
	border-radius: 0.6em;
	border-color: black;
	margin-bottom: 0.6em;
}

.welcomeBlock {
	fonrt-size: 1em;
	color: green;
}

.noDictionaryBlock {
	font-size: 1em;
	color: red;
}

.searchedWord {
	font-size: 1em;
	margin-bottom: 0.4em;
	color: green;
}

.dictionaryContent {
	font-size: 1em;	
	margin-bottom: 0.8em;
	color: black;
}

.dictionaryName {
	font-size: 0.9em;
	color: gray;
	text-align: right;
}